# Copy this file to .env and adjust values
#   cp .env.example .env

ROOT_PASSWORD=change-me

TYPESENSE_COLLECTION_NAME=training-wiki

TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=https

TYPESENSE_SEARCH_API_KEY=replace-with-a-search-only-key
